---
import SiteLogo from "~/components/SiteLogo.astro";
import NavButtons from "~/components/NavButtons.astro";
import NoCookieTubeIcon from "~/components/NoCookieTubeIcon.astro";
import CopyrightMessage from "~/components/CopyrightMessage.astro";

import "~/styles/settings.scss";
import "@fontsource/montserrat/500.css";
---

<body data-bd-loaded="true">
    <div id="row-layout-above">
        
    </div>
</body>